@model WebsitePerformance.Mvc.Models.WebsiteDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
<h1>@Html.DisplayFor(model => model.Domain)</h1>

<form class="form-inline m-3" asp-action="Details" asp-route-websiteId="@Model.Id">
    <input class="form-control" placeholder="Enter slow limit ms" name="slowLimit">
    <button type="submit" class="btn btn-outline-primary m-1">Submit</button>
</form>
</div>

<div class="details">
    <div>
        <h2>Total requsts:</h2>
        <h2 class="text-primary">@Model.Webpages.Count()</h2>
    </div>
    <div class="diagram-wrapper">
        <div class="diagram-percent">
            @Math.Round((double) Model.SlowPagesRatio.FastPagesCount / (double) Model.Webpages.Count() * 100, 2)%
        </div>
        <canvas id="diagram"></canvas>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Url</th>
        <th>
            @Html.DisplayNameFor(model => model.Webpages.First().MinResponseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Webpages.First().MaxResponseTime)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{ int i = 1;}
    @foreach (var item in Model.Webpages)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinResponseTime) ms
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxResponseTime) ms
            </td>
        </tr>
        i++;
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
window.onload = function(){
    
let colors = ['#007bff','#28a745'];
let donutOptions = {
  cutoutPercentage: 85, 
  legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
};

let diagramData = {
    labels: ['Slow requests', 'Fast requests'],
    datasets: [
      {
        backgroundColor: colors.slice(0,3),
        borderWidth: 0,
        data: [
            @Model.SlowPagesRatio.SlowPagesCount,
            @(Model.SlowPagesRatio.FastPagesCount)
        ]
      }
    ]
};

let diagram = document.getElementById("diagram");
if (diagram) {
  new Chart(diagram, {
      type: 'pie',
      data: diagramData,
      options: donutOptions
  });
}
}
</script>

@section Scripts {
    <script src="~/lib/chartjs/Chart.min.js"></script>
}