@model IEnumerable<WebsitePerformance.Mvc.Models.WebsiteListViewModel>

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>History</h1>

<p>
    <a asp-controller="Home" asp-action="Index">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Domain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Domain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisDate)
            </td>
            <td>
                @Html.ActionLink("Details", "", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
}
    </tbody>
</table>
